{% extends "base.html" %}
{% block title %}My Bookings{% endblock %}
{% block content %}
<div class="container">
    <h1>My Bookings Page</h1>
    <p>View your bookings.</p>

    {% if bookings %}
        <table class="table table-striped">
            <thead>
                <tr>
                    {% for column in bookings[0].keys() %}
                        <th>{{ column }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for booking in bookings %}
                    <tr>
                        {% for value in booking.values() %}
                            <td>{{ value }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No bookings found.</p>
    {% endif %}
</div>
{% endblock %}
